<header>
    <div class="div_nav">
        <figure class="brand">
<<<<<<< Updated upstream
            <a href="../index.html"><img class="logo_nav" src="../img/logo_blanco.png" alt="logo"></a>
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><img src="../img/menu.png" alt="menu"></label>
            <ul>
                <li><a href="../pages/nosotros.html">Nosotros</a></li>
                <li><a href="../pages/programas.html">Programas</a></li>
                 <li><a href="/pages/blog.html">Blog</a></li>
                <li><a href="/pages/ayudar.html">ayudar</a></li>
                <li><a href="/pages/contactenos.html">Contactenos</a></li>
                <li><a href="../pages/gallery.html">Galeria</a></li>
                <li><a href="../pages/donar.html">Donar</a></li>
                <li><a href="../pages/preguntas.html">Preguntas</a></li>
=======
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><img src="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" alt="menu"></label>
            <ul>
                <li><a href="pages/nosotros.html">Nosotros</a></li>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Galeria Fotos</a></li>
                <li><a href="#">Donar</a></li>
                <li><a href="/pages/blog.html">Blog</a></li>
                <li><a href="/pages/ayudar.html">ayudar</a></li>
                <li><a href="/pages/contactenos.html">Contactenos</a></li>
>>>>>>> Stashed changes
            </ul>
        </nav>
    </div>
</header>